@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    }
#cabecalho{
    display: flex;
    flex-direction: row;
    background: linear-gradient(0.25turn, #138FB2 10% ,#2A222A 50% );
    align-items: center;
    justify-content: space-around;
    padding: 30px;
}
.conteudonav{
    color: white;
    font-size: 25px;
    padding: 40px;
}
.anav{
    padding:10px;
    color: rgb(255, 255, 255);
}
#logotexto {
    font-size: 420%;
    color: #4cd1fa ;
    font-family: 'Audiowide', cursive;
    margin-left: 25px;
    text-shadow: 4px 4px rgb(0, 0, 0);
}
a:hover {
    color: rgb(179, 250, 250);
    text-shadow: 0 0 8px white;
    transition: 1s;
}
#section-main{
    background-image: url(muscle.jpg);
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
form{
    border: none;
    border-radius: 1px;
    padding: 2px;
}
form input, form button{
    font-size:  20px;
    border-radius: 20px;
    border: none;
    padding: 20px;
}
form button{
    cursor: pointer;
    background: none;
    color: whitesmoke;
    border: none;
}
form button:hoover{
    background-color: red;
    color: red;
}