@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&family=Cinzel&family=League+Gothic&family=Lobster&family=Stint+Ultra+Condensed&display=swap');

#logo {
    margin: 10px auto;        
    width: 5%;
    display: inline-grid;
    position: fixed;
    left: 540pt;
    top: 50px;
}
#logotexto {
    font-size: 420%;
    color: #4cd1fa ;
    font-family: 'Cinzel', serif;
    margin-left: 25px;
    text-shadow: 4px 4px rgb(0, 0, 0);
}
/*body {
;
}*/
 #cabeçalho{
     display: flex;
     flex-direction: row;
     background-color: #555cfa;
 } 
.conteudo {
    border-top: 1px solid #fffcfc;
    box-shadow: 1px 1px 2px 2px black;
    
}