@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    }

#logo {
    margin: 10px auto;        
    width: 5%;
    display: inline-grid;
    position: fixed;
    left: 680pt;
    top: 25px;
}
#logotexto {
    font-size: 420%;
    color: #4cd1fa ;
    font-family: 'Audiowide', cursive;
    margin-left: 25px;
    text-shadow: 4px 4px rgb(0, 0, 0);
}

 #cabeçalho{
     display: flex;
     flex-direction: row;
     background-color: #555cfa;
     align-items: center;
     justify-content: space-around;
    padding: 30px;
     
 } 
 .conteudo {
    border-top: 1px solid #fffcfc;
    box-shadow: 1px 1px 2px 2px black;
    background-color: #4c9efa;
    
}
.conteudo-principal-escrito-pergunta {
    color: #7d35fa;
    text-shadow: 3px 3px rgb(0, 0, 0);
    font-size: 300%;
}
.conteudonav{
    color: white;
    font-size: 20px;
}
