@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    }

#logo {
    margin: 10px auto;        
    width: 5%;
  
}
#logotexto {
    font-size: 420%;
    color: #4cd1fa ;
    font-family: 'Audiowide', cursive;
    margin-left: 25px;
    
}

 #cabeçalho{
     display: flex;
     flex-direction: row;
     background: linear-gradient(0.25turn,#202020,#333333,  #202020);
     align-items: center;
     justify-content: space-around;
    padding: 30px;
 } 
 .conteudonav{
    color: white;
    font-size: 25px;
    padding: 40px;
 }
 .anav{
    padding:10px;
    color: rgb(255, 255, 255);
}
body{
    background-color:#181818 ;
}
main{
    background-color: whitesmoke;
    margin: 70px;
    border-radius: 25px;
    padding: 30px;
    text-align: center;
}
#h1daloja{
    padding: 30px;
    font-size: 45px;

}
main > p{
    font-family: 'Chivo', sans-serif;


}

 